<div class="login-box">
  <h1 class="login-box__title login-box__title--left">Enter new password</h1>
  <form (ngSubmit)="newPassowrd()" [formGroup]="newPasswordForm">
    <div class="input-field-group">
      <label class="input-field-group__label" for="passowrd"
        >New Password</label
      >
      <input
        class="input-field-group__input"
        placeholder="Enter your password"
        type="password"
        id="password"
        formControlName="password"
        #input1
      />
      <i
        class="fas fa-eye input-field-group__eye"
        (click)="changeInput1(input1)"
        *ngIf="!newPass"
      ></i>
      <i
        class="fas fa-eye-slash input-field-group__eye"
        (click)="changeInput1(input1)"
        *ngIf="newPass"
      ></i>
    </div>
    <div class="input-field-group">
      <label class="input-field-group__label" for="passowrd"
        >Re-type New Password</label
      >
      <input
        class="input-field-group__input"
        placeholder="Re-type your password"
        type="password"
        id="confirm"
        formControlName="confirm"
        #input2
      />
      <i
        class="fas fa-eye input-field-group__eye"
        (click)="changeInput2(input2)"
        *ngIf="!confirmPass"
      ></i>
      <i
        class="fas fa-eye-slash input-field-group__eye"
        (click)="changeInput2(input2)"
        *ngIf="confirmPass"
      ></i>
    </div>
    <button type="submit" class="login-box__btn btn btn--light btn--animated">
      Reset password
    </button>
  </form>
</div>
