.accept-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55rem;
  background: #24212e;
  border-radius: 8px;
  padding: 2.4rem;
  &__body {
    padding-top: 2.4rem;
    &__footer {
      display: flex;
      justify-content: flex-end;
      column-gap: 1rem;
    }
  }
}
