.confirmation {
  max-width: 56.6rem;
  min-width: 50rem;
  background: #1d1a27;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  &--lighter {
    background: #24212e;
  }
  &--overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background: #1d1a279e;
  }
  &__heading {
    padding: 2.4rem;
    justify-content: space-between;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.4rem;
    &__warning {
      width: 8.8rem;
      height: 8.8rem;
      border-radius: 50%;
      background: rgba(240, 61, 62, 0.1);
      margin-bottom: 1.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(240, 61, 62, 1);
      font-size: 3.4rem;
    }
    &__title {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-bottom: 0.4rem;
    }
    &__sub {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $color-white-2;
    }
  }
  &__footer {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    padding: 2.4rem;
    box-shadow: 0px 1px 0px 0px rgba(48, 44, 63, 1) inset;
  }
}
