.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: #1d1a27;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 35rem;
  padding: 2.4rem;
  &--border {
    border: 2px solid #302c3f !important;
  }
  &__title {
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 3.5rem;
  }
  &__img {
    display: block;
    width: 9rem;
    height: 7.5rem;
    margin: 1.8rem auto 4.1rem auto;
  }
  &__box {
    padding: 16px;
    width: 100%;
    text-align: center;
    margin: 0px;
    &:nth-of-type(odd) {
      border-top: 1px solid rgba(48, 44, 63, 1);
      border-bottom: 1px solid rgba(48, 44, 63, 1);
    }
    &__sub {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: #b7b4c7; //$color-white-2
      margin-bottom: 0.4rem;
    }
    &__sub-value {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2rem;
      &--large {
        font-weight: 900;
        font-size: 3.2rem;
        line-height: 4rem;
      }
    }
  }
  &__btn {
    width: 100%;
    height: 4.8rem;
  }
}
