// .mat-slide-toggle {
//   margin-left: 10px;
//   padding-top: 15px;
//   border-top: 1px solid rgb(202, 202, 202);
//   color: #fff;
//   width: 160px;
// }
// .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
//   background-color: rgba(255, 73, 128, 0.349);
// }

// .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
//   background-color: #ff4980;
// }
