// .main-nav {
//   div.wallet {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     button {
//       border-radius: 0px 4px 4px 0px !important;
//       width: auto !important;
//       margin: 0px !important;
//     }
//     button.btn-left {
//       border: 2px solid #252036 !important;
//       background: #252036 !important;
//       &:hover {
//         box-shadow: none;
//       }
//     }
//     button.btn-right {
//       border-left: none !important;
//     }
//   }
// }

// @media only screen and (max-width: 1439px) {
//   header {
//     left: 88px;
//     width: calc(100% - 88px);
//   }
// }
