<div class="dashboard-container dashboard-container--admin">
  <!-- The initial page -->
  <div class="merchant-setps" *ngIf="!hasMiner">
    <h1 class="merchant-setps__title">What’s Merchant Distribution</h1>
    <div>
      <div class="merchant-setps__step">
        <div class="merchant-setps__step__num">1</div>
        <div class="merchant-setps__step__sub">
          Buy a mining device from [brand name] <br />
          that produces X hashrate per second
        </div>
      </div>
      <div class="merchant-setps__step">
        <div class="merchant-setps__step__num">2</div>
        <div class="merchant-setps__step__sub">
          Divide those hashrates into several plans
        </div>
      </div>
      <div class="merchant-setps__step">
        <div class="merchant-setps__step__num">3</div>
        <div class="merchant-setps__step__sub">
          Sell these plan to anybody using your <br />
          personal link
        </div>
      </div>
    </div>
    <button
      class="btn btn--light btn--animated merchant-setps__btn"
      (click)="createSeller()"
    >
      Continue
    </button>
    <div class="merchant-setps__note">
      Make sure you have at least one mining device running to get started
    </div>
  </div>
  <!-- In case the user have some miners -->
  <div class="row p-3 gy-5" *ngIf="hasMiner">
    <div class="col-12 col-lg-6" *ngFor="let miner of distAsics">
      <div
        class="miner miner--normal"
        style="max-width: 45.6rem; width: 45.6rem"
      >
        <span class="miner__online">Online</span>
        <h3 class="miner__title">{{ miner.workerData[0].asicName }}</h3>
        <img class="miner__img" src="../../../assets/miner.svg" alt="" />
        <div class="miner__details row g-3">
          <div
            class="col-12"
            style="
              font-weight: 400;
              font-size: 1.4re;
              color: #b7b4c7;
              margin-bottom: 1rem;
            "
          >
            Device Bought on: {{ miner.workerData[0].createdAt | date }}
          </div>
          <div class="col-6">
            <span class="miner__details__title">Available Hashrate</span>
            <span class="miner__details__sub">{{
              miner.availableHashrate
            }}</span>
          </div>
          <div class="col-6">
            <span class="miner__details__title">Total Subscriptions</span>
            <span class="miner__details__sub">{{
              miner.totalConnectedUsers
            }}</span>
          </div>
          <div class="col-12">
            <span class="miner__details__title">Start Date</span>
            <span class="miner__details__sub">{{
              miner.workerData[0].startDate | date: "medium"
            }}</span>
          </div>

          <div class="col-6">
            <span class="miner__details__title">Host Fees</span>
            <span class="miner__details__sub"
              >{{ miner.workerData[0].hostFees }}%</span
            >
          </div>
          <div class="col-6">
            <span class="miner__details__title">Worker ID</span>
            <span class="miner__details__sub">{{
              miner.workerData[0].workerID
            }}</span>
          </div>
          <div class="col-6">
            <span class="miner__details__title">Total Mined</span>
            <span class="miner__details__sub">{{
              miner.workerData[0].totalMined!.toString().substring(0, 10)
            }}</span>
          </div>
          <div class="col-6">
            <span class="miner__details__title">Pool</span>
            <span class="miner__details__sub">{{
              miner.workerData[0].pool
            }}</span>
          </div>
          <div class="col-12">
            <span class="miner__details__title">Address</span>
            <span class="miner__details__sub" style="overflow-wrap: anywhere">{{
              miner.workerData[0].address
            }}</span>
          </div>
          <button
            class="btn btn--darker btn--animated"
            routerLink="./{{ miner.workerObjId }}"
          >
            See Details
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
