<div class="dashboard-container dashboard-container--admin">
  <!-- Header of the page -->
  <div class="row">
    <!-- title -->
    <div class="col-8">
      <h2 class="dash-heading__title">Hashrate plans ({{ plansLength }})</h2>
    </div>
    <!-- new plan button -->
    <div class="col-4">
      <button
        class="btn btn--animated btn--light d-block ml-auto"
        style="margin: 0 0 2.4rem auto; padding: 1.8rem 2.4rem"
        (click)="newFormOpend = true"
      >
        <i class="fas fa-plus mr-4"></i>
        <span style="font-weight: 700; font-size: 1.6rem"> New Plan</span>
      </button>
    </div>
  </div>
  <!-- choose currency menu -->
  <div class="dropdown-taps row g-0">
    <!-- the visiable trigger button -->
    <div class="dropdown-taps__trigger">
      <span class="dropdown-taps__trigger__title"> Currency:</span>
      <button
        class="btn dropdown-taps__trigger__btn"
        (click)="dropCollapsed = !dropCollapsed"
      >
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'all'"
        >
          <a>All Currency</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap1'"
        >
          <i class="fab fa-btc sm"></i> <a>BTC</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap2'"
        >
          <i class="fab fa-ethereum sm"></i> <a>ETH</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap3'"
        >
          <img
            src="../../../assets/RVN-Crypto.svg"
            alt="RVN"
            class="icon icon--xs"
          />
          <a>RVN</a>
        </div>
        <div
          class="dropdown-taps__trigger__btn__text"
          *ngIf="selected == 'tap4'"
        >
          <img
            src="../../../assets/LTCT-Crypto.png"
            alt="LTCT"
            class="icon icon--xs"
          />
          <a>LTCT</a>
        </div>
        <i class="fas fa-angle-down arrow" *ngIf="!dropCollapsed"></i>
        <i class="fas fa-angle-up arrow" *ngIf="dropCollapsed"></i>
      </button>
    </div>
    <!-- the toggable menu  -->
    <ul class="dropdown-taps__body" *ngIf="dropCollapsed">
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'all'; dropCollapsed = !dropCollapsed"
      >
        <a>All Currency</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap1'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-btc sm"></i> <a>BTC</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap2'; dropCollapsed = !dropCollapsed"
      >
        <i class="fab fa-ethereum sm"></i> <a>ETH</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap3'; dropCollapsed = !dropCollapsed"
      >
        <img
          src="../../../assets/RVN-Crypto.svg"
          alt="RVN"
          class="icon icon--xs"
        />
        <a>RVN</a>
      </li>
      <li
        class="dropdown-taps__body__item"
        (click)="selected = 'tap4'; dropCollapsed = !dropCollapsed"
      >
        <img
          src="../../../assets/LTCT-Crypto.png"
          alt="LTCT"
          class="icon icon--xs"
        /><a>LTCT</a>
      </li>
    </ul>
  </div>
  <!-- the list of all plans avaliable -->
  <div class="row row g-4 mt-4">
    <ng-container *ngFor="let plan of plans">
      <!-- check if the miner belongs to tap 1,2,3,4, or all  "-->
      <div class="col-12 col-md-6 col-xl-4" *ngIf="checkDisplayedPlans(plan)">
        <div class="miner align-self-center">
          <div class="row align-self-start w-100 justify-content-between">
            <div class="col-10">
              <h3 class="miner__title">{{ plan.planName }}</h3>
              <span class="miner__sub"
                >Added on: {{ plan.createdAt | date }}</span
              >
            </div>
            <!-- The edit/delete menu trigger -->
            <div class="miner__menu col-1">
              <div class="miner__menu__btn" (click)="checkSelected(plan)">
                <i class="fas fa-ellipsis-v"></i>
              </div>
              <!-- The menu shows only when the selected miner = the clicked miner name -->
              <div
                class="miner__menu__body"
                *ngIf="selectedPlan._id == plan._id"
              >
                <div
                  class="miner__menu__body__item"
                  (click)="editFormOpend = true; checkSelected(plan)"
                >
                  Edit
                </div>
                <div
                  class="miner__menu__body__item"
                  (click)="deleteConfirmOpend = true; checkSelected(plan)"
                >
                  Delete
                </div>
              </div>
            </div>
          </div>
          <img
            src="../../../../assets/chooseminer.svg"
            alt="minerimg"
            class="miner__img"
          />
          <div class="miner__box">
            <h6 class="miner__box__title">Mining Currency</h6>
            <p class="miner__box__sub">{{ plan.cryptoName }}</p>
          </div>

          <div class="miner__box">
            <h6 class="miner__box__title">Algorithm</h6>
            <p class="miner__box__sub">{{ plan.algorithm }}</p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Profitability</h6>
            <p class="miner__box__sub">From {{ plan.profitability }}%</p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Plan Duration</h6>
            <p class="miner__box__sub">
              <span
                *ngIf="
                  plan.planDuration == 1 &&
                  (plan.planType == 'long' || plan.planType == 'Long')
                "
              >
                1 Year</span
              >
              <span
                *ngIf="
                  plan.planDuration == 1 &&
                  (plan.planType == 'short' || plan.planType == 'Short')
                "
              >
                1 Month</span
              >
              <span
                *ngIf="
                  !(plan.planDuration == 1) &&
                  (plan.planType == 'short' || plan.planType == 'Short')
                "
                >{{ plan.planDuration }} months</span
              >
              <span
                *ngIf="
                  !(plan.planDuration == 1) &&
                  (plan.planType == 'long' || plan.planType == 'Long')
                "
                >{{ plan.planDuration }} years</span
              >
            </p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Price</h6>
            <p class="miner__box__sub--large">{{ plan.price }}$</p>
            <div class="miner__box__active row justify-content-between">
              <div class="col-2 d-flex flex-column">
                <span class="miner__box__active__name">Status</span>
                <span
                  class="miner__box__active__value"
                  *ngIf="plan.availability"
                  >Active</span
                >
                <span
                  class="miner__box__active__value"
                  *ngIf="!plan.availability"
                  >Inactive</span
                >
              </div>
              <section class="toggle-btn col-3">
                <div class="checkbox">
                  <input
                    type="checkbox"
                    [ngModel]="plan.availability"
                    (change)="updateAval(plan)"
                  />
                  <label></label>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div style="margin: 0 auto" *ngIf="plansLength == 0">
      <div class="miner--add" (click)="newFormOpend = true">
        <img class="miner--add__img" src="../../../assets/plus.svg" alt="" />
        <span class="miner--add__title">Add New Plan </span>
      </div>
    </div>
  </div>
  <!-- <div class="input-field-group__icon">GH/S</div> -->

  <!--------------------------------- the new plan form ---------------------------------->
  <div class="new-plan" *ngIf="newFormOpend == true">
    <div class="plan-form">
      <div class="row">
        <div class="col-10">
          <h3 class="plan-form__title">Add new plan</h3>
        </div>
        <div class="col-2">
          <div class="plan-form__close" (click)="newFormOpend = false">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="divider my-5"></div>
      <form (ngSubmit)="onNew()" [formGroup]="newPlanForm">
        <div>
          <div class="input-field-group">
            <label class="input-field-group__label" for="planName"
              >Plan Name</label
            >
            <input
              class="input-field-group__input"
              placeholder=""
              type="text"
              id="planName"
              formControlName="planName"
              [ngClass]="{
                'input-field-group__input--invalid':
                  newPlanForm.get('planName')?.invalid &&
                  newPlanForm.get('planName')?.dirty
              }"
            />
          </div>
          <div class="input-field-group">
            <label class="input-field-group__label" for="cryptoName"
              >Mining Currency</label
            >
            <input
              class="input-field-group__input"
              placeholder=""
              type="text"
              id="cryptoName"
              formControlName="cryptoName"
              [ngClass]="{
                'input-field-group__input--invalid':
                  newPlanForm.get('cryptoName')?.invalid &&
                  newPlanForm.get('cryptoName')?.dirty
              }"
            />
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="planType"
                  >Plan Type</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="text"
                  id="planType"
                  formControlName="planType"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('planType')?.invalid &&
                      newPlanForm.get('planType')?.dirty
                  }"
                />
                <span *ngIf="displayedErrors.planType">Error</span>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="planDuration"
                  >Plan Duration</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="number"
                  id="planDuration"
                  formControlName="planDuration"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('planDuration')?.invalid &&
                      newPlanForm.get('planDuration')?.dirty
                  }"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="algorithm"
                  >Algorithm</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="text"
                  id="algorithm"
                  formControlName="algorithm"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('algorithm')?.invalid &&
                      newPlanForm.get('algorithm')?.dirty
                  }"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="profitability"
                  >Profitability</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="number"
                  id="profitability"
                  formControlName="profitability"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('profitability')?.invalid &&
                      newPlanForm.get('profitability')?.dirty
                  }"
                />
                <div class="input-field-group__icon">%</div>
              </div>
            </div>
          </div>
          <div class="input-field-group">
            <label class="input-field-group__label" for="price">Price</label>
            <input
              class="input-field-group__input"
              placeholder=""
              type="number"
              id="price"
              formControlName="price"
              [ngClass]="{
                'input-field-group__input--invalid':
                  newPlanForm.get('price')?.invalid &&
                  newPlanForm.get('price')?.dirty
              }"
            />
            <div class="input-field-group__icon">$</div>
          </div>
        </div>
        <span class="input-field-group__error" *ngIf="newFormError != ''">{{
          newFormError
        }}</span>
        <div>
          <button
            type="submit"
            class="login-box__btn btn btn--light btn--animated"
          >
            Create
          </button>
        </div>
      </form>
    </div>
  </div>

  <!---------------------------------- the edit plan form ------------------------->
  <div class="new-plan" *ngIf="editFormOpend == true">
    <div class="plan-form">
      <div class="row">
        <div class="col-10">
          <h3 class="plan-form__title">
            Edit '{{ planToEdit.planName }}' plan
          </h3>
          <p class="plan-form__sub">
            Added on: {{ planToEdit.createdAt | date }}
          </p>
        </div>
        <div class="col-2">
          <div class="plan-form__close" (click)="editFormOpend = false">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
      <div class="divider my-5"></div>
      <form (ngSubmit)="onUpdate()" [formGroup]="editPlanForm">
        <div>
          <div class="input-field-group">
            <label class="input-field-group__label" for="planName"
              >Plan Name</label
            >
            <input
              class="input-field-group__input"
              placeholder=""
              type="text"
              id="planName"
              formControlName="planName"
              [ngClass]="{
                'input-field-group__input--invalid':
                  newPlanForm.get('planName')?.invalid &&
                  newPlanForm.get('planName')?.dirty
              }"
            />
          </div>
          <div class="input-field-group">
            <label class="input-field-group__label" for="cryptoName"
              >Mining Currency</label
            >
            <input
              class="input-field-group__input"
              placeholder=""
              type="text"
              id="cryptoName"
              formControlName="cryptoName"
              [ngClass]="{
                'input-field-group__input--invalid':
                  newPlanForm.get('cryptoName')?.invalid &&
                  newPlanForm.get('cryptoName')?.dirty
              }"
            />
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="planType"
                  >Plan Type</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="text"
                  id="planType"
                  formControlName="planType"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('planType')?.invalid &&
                      newPlanForm.get('planType')?.dirty
                  }"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="planDuration"
                  >Plan Duration</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="number"
                  id="planDuration"
                  formControlName="planDuration"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('planDuration')?.invalid &&
                      newPlanForm.get('planDuration')?.dirty
                  }"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="algorithm"
                  >Algorithm</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="text"
                  id="algorithm"
                  formControlName="algorithm"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('algorithm')?.invalid &&
                      newPlanForm.get('algorithm')?.dirty
                  }"
                />
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-field-group">
                <label class="input-field-group__label" for="profitability"
                  >Profitability</label
                >
                <input
                  class="input-field-group__input"
                  placeholder=""
                  type="number"
                  id="profitability"
                  formControlName="profitability"
                  [ngClass]="{
                    'input-field-group__input--invalid':
                      newPlanForm.get('profitability')?.invalid &&
                      newPlanForm.get('profitability')?.dirty
                  }"
                />
                <div class="input-field-group__icon">%</div>
              </div>
            </div>
          </div>
          <div class="input-field-group">
            <label class="input-field-group__label" for="price">Price</label>
            <input
              class="input-field-group__input"
              placeholder=""
              type="number"
              id="price"
              formControlName="price"
              [ngClass]="{
                'input-field-group__input--invalid':
                  newPlanForm.get('price')?.invalid &&
                  newPlanForm.get('price')?.dirty
              }"
            />
            <div class="input-field-group__icon">$</div>
          </div>
        </div>
        <div>
          <span
            class="input-field-group__error"
            *ngIf="updateFormError != ''"
            >{{ updateFormError }}</span
          >
          <button
            type="submit"
            class="login-box__btn btn btn--light btn--animated"
          >
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
  <div
    class="confirmation--overlay"
    *ngIf="deleteConfirmOpend"
    (click)="deleteConfirmOpend = false"
  ></div>
  <div class="confirmation" *ngIf="deleteConfirmOpend">
    <div class="confirmation__heading">
      <div class="row">
        <div class="col-10">
          <h3 class="plan-form__title">Delete ‘Lite Miners’</h3>
        </div>
        <div class="col-2">
          <div class="plan-form__close" (click)="deleteConfirmOpend = false">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="confirmation__body">
      <div class="confirmation__body__warning">
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <div class="confirmation__body__title">
        Are you sure you want to delete this plan
      </div>
      <div class="confirmation__body__sub">
        You will not be able to recover this plan details
      </div>
    </div>
    <div class="confirmation__footer">
      <div
        class="btn btn--darker btn--animated"
        (click)="deleteConfirmOpend = false"
      >
        Cancel
      </div>
      <div class="btn btn--red btn--animated" (click)="onDelete()">Delete</div>
    </div>
  </div>
</div>
