<div class="landing">
  <div class="gradient--right"></div>
  <div class="gradient--left"></div>
  <div class="container">
    <div class="nav">
      <div class="logo" routerLink="/">LOGO</div>
      <div class="nav__items">
        <div class="nav__item" routerLink="/dashboard/overview">Plans</div>
        <div class="nav__item" routerLink="/">
          <img src="../../assets/download.svg" /> Download App
        </div>
        <div class="nav__item nav__item--bar" routerLink="user/signin">
          Login
        </div>
        <div
          class="nav__item btn btn--dark btn--animated"
          routerLink="user/signup"
        >
          Join Now
        </div>
      </div>
    </div>
    <div class="landing__header">
      <div class="landing__header__main">
        The Best <span>Bitcoin</span> Cloud Mining Platform
      </div>
      <div class="landing__header__sub">
        GMINERS is an online and mobile crypto mining platform that brings you
        the most efficient tools to earn cryptocurrency with a small investment.
      </div>
      <div
        class="landing__header__btn btn btn--light btn--animated"
        routerLink="user/signup"
      >
        Start Your Journey Now
      </div>
      <div class="landing__header__link" (click)="goToHow()">
        <img src="../../assets/arrow-down-circle.svg" alt="" />
        Learn More
      </div>
    </div>
    <div class="landing__img">
      <img class="landing__img__home" src="../../assets/home.png" alt="" />
      <img class="landing__img__iphone" src="../../assets//iphone.png" alt="" />
    </div>
  </div>
  <div class="horizontal-divider"></div>
</div>
<div id="how" class="how">
  <div class="container">
    <div class="how__title">How it Works</div>
    <div class="row gy-4">
      <div class="col-6 col-md-6 col-lg-3">
        <div class="how__item">
          <div class="how__item__icon">
            <img src="../../assets/arrow-down-circle-lg.svg" alt="" />
          </div>
          <div class="how__item__title">Create an account</div>
          <div class="how__item__para">
            Sign up to start making cryptocurrency
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="how__item">
          <div class="how__item__icon">
            <img src="../../assets/arrow-down-circle-lg.svg" alt="" />
          </div>
          <div class="how__item__title">Create an account</div>
          <div class="how__item__para">
            Sign up to start making cryptocurrency
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="how__item">
          <div class="how__item__icon">
            <img src="../../assets/arrow-down-circle-lg.svg" alt="" />
          </div>
          <div class="how__item__title">Create an account</div>
          <div class="how__item__para">
            Sign up to start making cryptocurrency
          </div>
        </div>
      </div>
      <div class="col-6 col-md-6 col-lg-3">
        <div class="how__item">
          <div class="how__item__icon">
            <img src="../../assets/arrow-down-circle-lg.svg" alt="" />
          </div>
          <div class="how__item__title">Create an account</div>
          <div class="how__item__para">
            Sign up to start making cryptocurrency
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="why" style="position: relative">
  <div class="container">
    <div class="gradient--mid"></div>
    <div class="why__title">Why Cloud Mining</div>
    <div class="why__content">
      <div class="why__left">
        <div class="why__para">
          Kogi ennui ugh VHS celiac stumptown shabby chic seitan knausgaard
          vinyl pop-up. Mlkshk glossier tote bag kale chips helvetica. Umami
          hella tilde
        </div>
        <div class="why__item">
          <div class="why__item__icon">
            <img src="../../assets/check.svg" alt="" />
          </div>
          <div class="why__item__title">
            Flexitarian beard chambray, offal sustainable four loko.
          </div>
        </div>
        <div class="why__item">
          <div class="why__item__icon">
            <img src="../../assets/check.svg" alt="" />
          </div>
          <div class="why__item__title">
            Dreamcatcher retro brooklyn locavore waistcoat cronut. Put a bird on
          </div>
        </div>
        <div class="why__item">
          <div class="why__item__icon">
            <img src="../../assets/check.svg" alt="" />
          </div>
          <div class="why__item__title">
            Flexitarian beard chambray, offal sustainable four loko.
          </div>
        </div>
      </div>
      <div class="why__img">
        <img src="../../assets/twoMiners.svg" alt="" />
      </div>
    </div>
  </div>
</div>
<div class="banner-wrapper">
  <div class="landing-banner container">
    <div class="landing-banner__left">
      <div class="landing-banner__title">
        Boost Your Hashrate With Private Mining Devices
      </div>
      <div class="landing-banner__sub">
        You buy, We operate — Join to learn more.
      </div>
      <div
        class="landing-banner__btn--1 btn btn--dark btn--animated"
        routerLink="user/signup"
      >
        Join Now
      </div>
    </div>
    <div class="landing-banner__img">
      <img src="../../assets/twoMiners.svg" alt="" />
    </div>
    <div class="landing-banner__btn--2 btn btn--dark btn--animated">
      Join Now
    </div>
  </div>
</div>
<div class="gradient-wrapper">
  <div class="gradient--mid" style="transform: rotate(-13.96deg)"></div>

  <div class="statics">
    <div class="container">
      <div class="row gy-5">
        <div class="col-6 col-lg-3">
          <div class="statics__item">
            <div class="statics__value">100</div>
            <div class="statics__title">Customers</div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="statics__item">
            <div class="statics__value">200</div>
            <div class="statics__title">Total Mining Devices Bought</div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="statics__item">
            <div class="statics__value">$20,000</div>
            <div class="statics__title">Total Deposits</div>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="statics__item">
            <div class="statics__value">$30,000</div>
            <div class="statics__title">Total Withdrawals</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="faq" id="faq">
    <div class="container">
      <div class="faq__title">Frequently Asked Questions</div>
      <div class="faq__sub">Find answers to frequently asked questions</div>
      <div class="accordion">
        <div class="accordion__header" (click)="accordion1 = !accordion1">
          <h2>How can I start mining?</h2>
          <div class="accordion__icon" *ngIf="!accordion1">+</div>
          <div class="accordion__icon" *ngIf="accordion1">-</div>
        </div>

        <div class="accordion__body" *ngIf="accordion1">
          All you need to start cryptocurrency mining on [brand name] is to
          register, get verified, and purchase your contract. Just rent a miner
          and make an easy passive income every day.
        </div>
      </div>

      <div class="accordion">
        <div class="accordion__header" (click)="accordion2 = !accordion2">
          <h2>What is cryptocurrency?</h2>
          <div class="accordion__icon" *ngIf="!accordion2">+</div>
          <div class="accordion__icon" *ngIf="accordion2">-</div>
        </div>

        <div class="accordion__body" *ngIf="accordion2">
          All you need to start cryptocurrency mining on [brand name] is to
          register, get verified, and purchase your contract. Just rent a miner
          and make an easy passive income every day.
        </div>
      </div>
      <div class="accordion">
        <div class="accordion__header" (click)="accordion3 = !accordion3">
          <h2>What is GH/s?</h2>
          <div class="accordion__icon" *ngIf="!accordion3">+</div>
          <div class="accordion__icon" *ngIf="accordion3">-</div>
        </div>

        <div class="accordion__body" *ngIf="accordion3">
          All you need to start cryptocurrency mining on [brand name] is to
          register, get verified, and purchase your contract. Just rent a miner
          and make an easy passive income every day.
        </div>
      </div>
      <div class="accordion">
        <div class="accordion__header" (click)="accordion4 = !accordion4">
          <h2>Is it legal?</h2>
          <div class="accordion__icon" *ngIf="!accordion4">+</div>
          <div class="accordion__icon" *ngIf="accordion4">-</div>
        </div>

        <div class="accordion__body" *ngIf="accordion4">
          All you need to start cryptocurrency mining on [brand name] is to
          register, get verified, and purchase your contract. Just rent a miner
          and make an easy passive income every day.
        </div>
      </div>
    </div>
  </div>
</div>
