<div class="dashboard-container dashboard-container--admin">
  <!-- <button
    class="btn btn--animated btn--dark d-flex align-items-center"
    [routerLink]="['../']"
  >
    <i class="fas fa-angle-left mx-3"></i> Back
  </button> -->
  <div class="profile">
    <div class="d-flex justify-content-between">
      <div class="d-flex align-items-center">
        <div class="profile__user-icon">
          <i class="fas fa-user"></i>
        </div>
        <div class="profile__name">{{ userData?.userName }}</div>
        <!-- <div class="profile__edit">
          <i class="far fa-edit"></i>Edit Customer
        </div> -->
      </div>
      <!-- <div class="profile__action miner__menu__btn">
        <i class="fas fa-ellipsis-v"></i>
      </div> -->
    </div>
    <div class="profile__details">
      <div>
        <div class="profile__details__title">Email</div>
        <div class="profile__details__value">{{ userData?.email }}</div>
      </div>
      <div>
        <div class="profile__details__title">Phone</div>
        <div class="profile__details__value">{{ userData?.phone }}</div>
      </div>
    </div>
    <button
      class="btn btn--light btn--animated"
      style="margin-left: auto"
      (click)="changeFormOpened = true"
    >
      Change Password
    </button>
  </div>

  <!----------------------- The new password form  --------------------->
  <div
    class="confirmation--overlay"
    *ngIf="changeFormOpened"
    (click)="changeFormOpened = false"
  ></div>
  <div class="confirmation" *ngIf="changeFormOpened">
    <h1 class="confirmation__heading">Enter new password</h1>
    <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
      <div class="input-field-group">
        <label class="input-field-group__label" for="oldPassword"
          >Old Password</label
        >
        <input
          class="input-field-group__input"
          placeholder="Enter your password"
          type="password"
          id="oldPassword"
          formControlName="oldPassword"
          #input3
        />
        <i
          class="fas fa-eye input-field-group__eye"
          (click)="changeInput3(input3)"
          *ngIf="!oldPass"
        ></i>
        <i
          class="fas fa-eye-slash input-field-group__eye"
          (click)="changeInput3(input3)"
          *ngIf="oldPass"
        ></i>
      </div>
      <div class="input-field-group">
        <label class="input-field-group__label" for="passowrd"
          >New Password</label
        >
        <input
          class="input-field-group__input"
          placeholder="Enter your password"
          type="password"
          id="password"
          formControlName="password"
          #input1
        />
        <i
          class="fas fa-eye input-field-group__eye"
          (click)="changeInput1(input1)"
          *ngIf="!newPass"
        ></i>
        <i
          class="fas fa-eye-slash input-field-group__eye"
          (click)="changeInput1(input1)"
          *ngIf="newPass"
        ></i>
      </div>
      <div class="input-field-group">
        <label class="input-field-group__label" for="confirm"
          >Re-type New Password</label
        >
        <input
          class="input-field-group__input"
          placeholder="Re-type your password"
          type="password"
          id="confirm"
          formControlName="confirm"
          #input2
        />
        <i
          class="fas fa-eye input-field-group__eye"
          (click)="changeInput2(input2)"
          *ngIf="!confirmPass"
        ></i>
        <i
          class="fas fa-eye-slash input-field-group__eye"
          (click)="changeInput2(input2)"
          *ngIf="confirmPass"
        ></i>
      </div>
      <button type="submit" class="login-box__btn btn btn--light btn--animated">
        Save New Password</button
      ><span class="login-box__error" *ngIf="matchError">
        Passowrd doesn't match</span
      >
      <!-- <span class="login-box__error" *ngIf="unknownError">
        Unknown error occured, try agian!</span
      > -->
      <span class="login-box__error" *ngIf="wrongPasswordError">
        Wrong Password</span
      >
    </form>
  </div>
</div>
