// COLORS
$color-primary: #fe4980;
$color-primary-light: #da6f8f;
$color-primary-dark: #f71a5c;

$color-secondary: #5056ff;
$color-secondary-light: #898dfd;
$color-secondary-dark: #2930fc;

$color-background: #292141;
$color-background-dark: #1d1a27;
$color-background-light: rgba(19, 17, 26, 0.3);

$color-text-grey: #b7b4c7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-white-2: #b7b4c7;

$color-black: #000;

$color-error: #ee5253;
// FONT
$default-font-size: 1.6rem; //16px

//widths
$sidenav-width: 248px;
$sidenav-width-collapsed: 88px;
$top-nav-height: 72px;
