<!-- <header class="header-fixed" *ngIf="isAuthenticated">
  <div class="header-limiter">
    <h1>
      <a routerLink="/">WEBSITE <span>LOGO</span></a>
    </h1>
    <nav>
     
      <a
        routerLink="/dashboard/overivew"
        routerLinkActive="selected"
        *ngIf="isAuthenticated"
        >Dashboard</a
      >
      <a
        routerLink="/signupOrsignin"
        routerLinkActive="selected"
        *ngIf="!isAuthenticated"
        >Signup</a
      >
      <a *ngIf="isAuthenticated"> Signedin </a>
    </nav>
  </div>
</header>
<div class="header-fixed-placeholder"></div> -->
