<div class="dashboard-container">
  <div class="overview-header">
    <h2>Welcome back, {{ UserData?.userName }}</h2>
    <p>Here’s your progress</p>
  </div>
  <div class="balance-overview">
    <h4 class="balance-overview__title">Balance Overview</h4>
    <div class="row justify-content-center g-4">
      <!-- BTC Box -->
      <div class="col-7 col-md-6 col-xl-3">
        <div class="balance-box">
          <div class="row">
            <div class="col-12 col-md-3">
              <img
                src="../../../assets/BTC-Crypto.svg"
                alt="BTC"
                class="icon icon--md"
              />
            </div>
            <div class="col-12 col-md-9">
              <span
                style="
                  font-weight: bold;
                  margin-bottom: 1px;
                  color: rgba(183, 180, 199, 1);
                "
              >
                BTC Balance
              </span>
              <span style="font-weight: bold; color: #fff; display: block">
                {{ UserData?.balance?.btc | number: "1.0-8" }}
                BTC
              </span>
            </div>
          </div>
          <span style="color: rgba(183, 180, 199, 1); display: block"
            >Current Price</span
          >
          <span
            style="
              font-weight: bold;
              color: #fff;
              display: block;
              margin-bottom: 0.8rem;
            "
            >$ {{ btcPrice }}</span
          >
          <button
            class="btn btn--dark btn--animated w-100"
            routerLink="/dashboard/withdraw"
            *ngIf="UserData?.balance?.btc! > 0"
          >
            Withdraw
          </button>
          <button
            class="btn btn--light btn--animated w-100 mt-2"
            routerLink="/dashboard/choose-provider"
            *ngIf="!(UserData?.balance?.btc! > 0)"
          >
            Buy Mining plan
          </button>
        </div>
        <!-- ETH Box  -->
      </div>
      <!-- ETH Box  -->
      <div class="col-7 col-md-6 col-xl-3">
        <div class="balance-box">
          <div class="row">
            <div class="col-12 col-md-3">
              <img
                src="../../../assets/ETH-Crypto.svg"
                alt="ETH"
                class="icon icon--md icon--bk"
              />
            </div>
            <div class="col-12 col-md-9">
              <span
                style="
                  font-weight: bold;
                  margin-bottom: 1px;
                  color: rgba(183, 180, 199, 1);
                "
              >
                ETH Balance
              </span>
              <span style="font-weight: bold; color: #fff; display: block">
                {{ UserData?.balance?.eth | number: ".0-8" }}
                ETH
              </span>
            </div>
          </div>
          <span style="color: rgba(183, 180, 199, 1); display: block"
            >Current Price</span
          >
          <span
            style="
              font-weight: bold;
              color: #fff;
              display: block;
              margin-bottom: 0.8rem;
            "
            >$ {{ ethPrice }}</span
          >
          <button
            class="btn btn--dark btn--animated w-100"
            routerLink="/dashboard/withdraw"
            *ngIf="UserData?.balance?.eth! > 0"
          >
            Withdraw
          </button>
          <button
            class="btn btn--light btn--animated w-100 mt-2"
            routerLink="/dashboard/choose-provider"
            *ngIf="!(UserData?.balance?.eth! > 0)"
          >
            Buy Mining plan
          </button>
        </div>
      </div>
      <!--RVN Box  -->
      <div class="col-7 col-md-6 col-xl-3">
        <div class="balance-box">
          <div class="row">
            <div class="col-12 col-md-3">
              <img
                src="../../../assets/RVN-Crypto.svg"
                alt="RVN"
                class="icon icon--md icon--bk"
              />
            </div>
            <div class="col-12 col-md-9">
              <span
                style="
                  font-weight: bold;
                  margin-bottom: 1px;
                  color: rgba(183, 180, 199, 1);
                "
              >
                RVN Balance
              </span>
              <span style="font-weight: bold; color: #fff; display: block">
                {{ UserData?.balance?.rvn | number: ".0-8" }}
                RVN
              </span>
            </div>
          </div>
          <span style="color: rgba(183, 180, 199, 1); display: block"
            >Current Price</span
          >
          <span
            style="
              font-weight: bold;
              color: #fff;
              display: block;
              margin-bottom: 0.8rem;
            "
            >$ {{ rvnPrice }}</span
          >
          <button
            class="btn btn--dark btn--animated w-100"
            routerLink="/dashboard/withdraw"
            *ngIf="UserData?.balance?.rvn! > 0"
          >
            Withdraw
          </button>
          <button
            class="btn btn--light btn--animated w-100 mt-2"
            routerLink="/dashboard/choose-provider"
            *ngIf="!(UserData?.balance?.rvn! > 0)"
          >
            Buy Mining plan
          </button>
        </div>
      </div>
      <!-- LTCT Box  -->
      <div class="col-7 col-md-6 col-xl-3">
        <div class="balance-box">
          <div class="row">
            <div class="col-12 col-md-3">
              <img
                src="../../../assets/LTCT-Crypto.png"
                alt="LTCT"
                class="icon icon--md"
              />
            </div>
            <div class="col-12 col-md-9">
              <span
                style="
                  font-weight: bold;
                  margin-bottom: 1px;
                  color: rgba(183, 180, 199, 1);
                "
              >
                LTCT Balance
              </span>
              <span style="font-weight: bold; color: #fff; display: block">
                {{ UserData?.balance?.ltct! | number: ".0-8" }}
                LTCT
              </span>
            </div>
          </div>
          <span style="color: rgba(183, 180, 199, 1); display: block"
            >Current Price</span
          >
          <span
            style="
              font-weight: bold;
              color: #fff;
              display: block;
              margin-bottom: 0.8rem;
            "
            >$ {{ ltctPrice }}</span
          >
          <button
            class="btn btn--dark btn--animated w-100"
            routerLink="/dashboard/withdraw"
            *ngIf="UserData?.balance?.ltct! > 0"
          >
            Withdraw
          </button>
          <button
            class="btn btn--light btn--animated w-100 mt-2"
            routerLink="/dashboard/choose-provider"
            *ngIf="!(UserData?.balance?.ltct! > 0)"
          >
            Buy Mining plan
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4">
    <div class="mining-deatils col-12 col-lg-8">
      <div class="mining-deatils__mined">
        <div class="custom-taps">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-3"
            >
              Currency Mining Details
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-7"
            >
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap1'
                }"
              >
                <img
                  src="../../../assets/BTC-Crypto.svg"
                  alt="BTC"
                  class="icon icon--xs"
                />
                BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap2'
                }"
              >
                <img
                  src="../../../assets/ETH-Crypto.svg"
                  alt="ETH"
                  class="icon icon--xs icon--bk"
                />
                ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap3'
                }"
              >
                <img
                  src="../../../assets/RVN-Crypto.svg"
                  alt="RVN"
                  class="icon icon--xs icon--bk"
                />
                RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap4'
                }"
              >
                <img
                  src="../../../assets/LTCT-Crypto.png"
                  alt="LTCT"
                  class="icon icon--xs"
                />
                LTCT
              </div>
            </div>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap1'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ btcTotalSpeed | number: "1.0-2" }} GH/S</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Total Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ btcTotalMined | number: "1.0-6" }} BTC</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ btcTotalActive }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <img
                  src="../../../assets/BTC-Crypto.svg"
                  alt=""
                  class="icon icon--md"
                />
                <span>{{ UserData?.balance?.btc! }} BTC</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: 0.0001 BTC</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <img
                src="../../../assets/BTC-Crypto.svg"
                alt="BTC"
                class="icon icon--sm"
              />
              <span> Withdraw BTC </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap2'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ ethTotalSpeed | number: "1.0-2" }} GH/S</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Total Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ ethTotalMined | number: "1.0-6" }} ETH</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ ethTotalActive }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <img
                  src="../../../assets/ETH-Crypto.svg"
                  alt="ETH"
                  class="icon icon--md icon--bk"
                />
                <span>{{ UserData?.balance?.eth! | number: "1.0-8" }} ETH</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: 0.0001 ETH</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <img
                src="../../../assets/ETH-Crypto.svg"
                alt="ETH"
                class="icon icon--sm icon--bk"
              />
              <span> Withdraw ETH </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap3'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ rvnTotalSpeed | number: "1.0-2" }} GH/S</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Total Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ rvnTotalMined | number: "1.0-6" }} RVN</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ rvnTotalActive }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <img
                  src="../../../assets/RVN-Crypto.svg"
                  alt="RVN"
                  class="icon icon--md icon--bk"
                />
                <span>{{ UserData?.balance?.rvn! | number: "1.0-8" }} RVN</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: 0.0001 RVN</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <img
                src="../../../assets/RVN-Crypto.svg"
                alt="RVN"
                class="icon icon--sm icon--bk"
              />
              <span> Withdraw RVN </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap4'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ ltctTotalSpeed | number: "1.0-2" }} GH/S</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Total Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ ltctTotalMined | number: "1.0-6" }} LTCT</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ ltctTotalActive }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <img
                  src="../../../assets/LTCT-Crypto.png"
                  alt="LTCT"
                  class="icon icon--md"
                />
                <span
                  >{{ UserData?.balance?.ltct! | number: "1.0-8" }} LTCT</span
                >
              </div>
              <div class="balance__min">
                <span>Min Withdraw: 0.0001 LTCT</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <img
                src="../../../assets/LTCT-Crypto.png"
                alt="LTCT"
                class="icon icon--sm"
              />
              <span> Withdraw LTCT </span>
            </button>
          </div>
        </div>
      </div>

      <!-- <div class="mining-details__chart">
        <div class="custom-taps custom-taps--chart">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-sm-3 mb-md-0"
            >
              Currency Mining Details
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-xs-center justify-content-md-end justify-content-lg-end flex-xs-wrap flex-ms-wrap col-12 col-lg-7"
              style="box-sizing: border-box !important"
            >
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap1'
                }"
              >
                <img
                  src="../../../assets/BTC-Crypto.svg"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 1%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap2'
                }"
              >
                <img
                  src="../../../assets/ETH-Crypto.svg"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 1%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap3'
                }"
              >
                <img
                  src="../../../assets/RVN-Crypto.svg"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 1%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap4'
                }"
              >
                <img
                  src="../../../assets/LTCT-Crypto.png"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 1%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                LTCT
              </div>
            </div>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap1'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap1Data"
              [options]="basicOptions"
            ></p-chart>
            <button type="button" (click)="update($event)"></button>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap2'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap2Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap3'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap3Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap4'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap4Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col-12 col-lg-4">
      <div class="banner">
        <div class="banner__img">
          <img src="../../../assets/bannerimg.svg" alt="bannerimg" />
        </div>
        <h4 class="banner__title">
          Boost Your Hashrate With Private Mining Devices
        </h4>
        <p class="banner__sub">Up to 10 TH/s</p>
        <button
          class="btn btn--animated btn--dark"
          routerLink="/dashboard/choose-provider"
        >
          <span>Learn more</span> <i class="fas fa-external-link-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>
