<header class="dash-heading">
  <h2 class="dash-heading__title">Hashrate plans</h2>
  <p class="dash-heading__para">Manage & subscribe hashrate power plans</p>
</header>

<div class="dashboard-container">
  <button
    class="btn btn--animated btn--light d-block ml-auto"
    [routerLink]="['../choose-provider']"
    style="margin-left: auto; padding: 1.8rem 2.4rem"
  >
    <i class="fas fa-plus mr-3"></i>
    <span style="font-weight: 700; font-size: 1.6rem"> New Hashrate Plan</span>
  </button>

  <div class="horizontal-taps">
    <div class="horizontal-taps__heading">
      <span
        class="horizontal-taps__heading__item"
        (click)="selectedTap = 'tap1'"
        [ngClass]="{
          'horizontal-taps__heading__item--active': selectedTap == 'tap1'
        }"
        >Active Plans</span
      >
      <span
        class="horizontal-taps__heading__item"
        (click)="selectedTap = 'tap2'"
        [ngClass]="{
          'horizontal-taps__heading__item--active': selectedTap == 'tap2'
        }"
      >
        Expired Plans</span
      >
    </div>
    <!-- Active Plans  -->
    <div class="horizontal-taps__body p-5" *ngIf="selectedTap == 'tap1'">
      <div class="horizontal-taps__body__title" style="padding-left: 0">
        Active Plans ({{ activePlansLength }})
      </div>
      <div
        class="row mb-5 p-2 align-items-center plan--border"
        *ngFor="let plan of activePlans"
      >
        <div class="col-12 col-lg-4">
          <div class="plan">
            <h4 class="plan__title">{{ plan.cryptoName }} Plan</h4>
            <img
              class="plan__img"
              src="../../../../assets/rig2.svg"
              alt="Miners image"
            />
            <div class="plan__box">
              <h6 class="plan__box__sub">Start Date</h6>
              <p class="plan__box__sub-value">
                {{ plan.startDate | date: "medium" }}
              </p>
            </div>
            <div class="plan__box">
              <h6 class="plan__box__sub">End Date</h6>
              <p class="plan__box__sub-value">
                {{ plan.endDate | date: "medium" }}
              </p>
            </div>
            <div class="plan__box">
              <h6 class="plan__box__sub">Total Mined</h6>
              <p class="plan__box__sub-value">
                {{ plan.totalMined | number: "1.0-8" }}
              </p>
            </div>
            <div class="plan__box">
              <h6 class="plan__box__sub">Hash Power</h6>
              <p class="plan__box__sub-value">
                {{ plan.hashPower | number: "1.0-2" }} GH/S
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <h1 class="mb-5">Hourly gains</h1>
          <p-chart
            height="300px"
            type="line"
            [data]="{
              labels: plan.xAxis,
              datasets: [
                {
                  label: 'Gains',
                  data: plan.yAxis,
                  fill: true,
                  borderColor: 'rgba(255, 73, 128, 1)',
                  tension: 0.4,
                  backgroundColor: 'rgba(255, 73, 128, 0.2)'
                }
              ]
            }"
            [options]="basicOptions"
            [responsive]="true"
          ></p-chart>
        </div>
      </div>
    </div>
    <!-- Expired Plans  -->
    <div class="horizontal-taps__body p-5" *ngIf="selectedTap == 'tap2'">
      <div class="horizontal-taps__body__title" style="padding-left: 0">
        Expired Plans ({{ expiredPlansLength }})
      </div>
      <div
        class="row mb-5 p-2 align-items-center plan--border"
        *ngFor="let plan of expiredPlans"
      >
        <div class="col-12 col-lg-4">
          <div class="plan">
            <h4 class="plan__title">{{ plan.cryptoName }} Plan</h4>
            <img
              class="plan__img"
              src="../../../../assets/rig2.svg"
              alt="Miners image"
            />
            <div class="plan__box">
              <h6 class="plan__box__sub">Start Date</h6>
              <p class="plan__box__sub-value">
                {{ plan.startDate | date: "medium" }}
              </p>
            </div>
            <div class="plan__box">
              <h6 class="plan__box__sub">End Date</h6>
              <p class="plan__box__sub-value">
                {{ plan.endDate | date: "medium" }}
              </p>
            </div>
            <div class="plan__box">
              <h6 class="plan__box__sub">Total Mined</h6>
              <p class="plan__box__sub-value">
                {{ plan.totalMined | number: "1.0-8" }}
              </p>
            </div>
            <div class="plan__box">
              <h6 class="plan__box__sub">Hash Power</h6>
              <p class="plan__box__sub-value">
                {{ plan.hashPower | number: "1.0-2" }} GH/S
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <h1 class="mb-5">Hourly gains</h1>
          <p-chart
            height="300px"
            type="line"
            [data]="{
              labels: plan.xAxis,
              datasets: [
                {
                  label: 'Gains',
                  data: plan.yAxis,
                  fill: true,
                  borderColor: 'rgba(255, 73, 128, 1)',
                  tension: 0.4,
                  backgroundColor: 'rgba(255, 73, 128, 0.2)'
                }
              ]
            }"
            [options]="basicOptions"
            [responsive]="true"
            id="chartJSContainer"
          ></p-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4">
    <!-- <div class="col-12 col-lg-4">
      <div class="hashrate-active">
        <h3 class="hashrate-active__title">Active Hashrate Power</h3>
        <div class="hashrate-active__item">
          <div class="hashrate-active__item__name">
            <div>
              <img
                src="../../../assets/ETH-Crypto.svg"
                alt=""
                style="
                  vertical-align: middle;
                  background: white;
                  border-radius: 50%;
                  width: 45px;
                  padding: 4%;
                  margin-right: 6px;
                  height: 43px;
                "
              />
              <img
                src="../../../assets/BTC-Crypto.svg"
                alt=""
                style="
                  vertical-align: middle;
                  background: white;
                  border-radius: 50%;
                  width: 45px;
                  padding: 4%;
                  margin-right: 6px;
                  height: 43px;
                "
              />
              <img
                src="../../../assets/RVN-Crypto.svg"
                alt=""
                style="
                  vertical-align: middle;
                  background: white;
                  border-radius: 50%;
                  width: 45px;
                  padding: 4%;
                  margin-right: 6px;
                  height: 43px;
                "
              />
              <img
                src="../../../assets/LTCT-Crypto.png"
                alt=""
                style="
                  vertical-align: middle;
                  background: white;
                  border-radius: 50%;
                  width: 45px;
                  padding: 4%;
                  margin-right: 6px;
                  height: 43px;
                "
              />
            </div>
            <div style="display: flex; flex-direction: column">
              <ng-container *ngIf="_reload">
                <span></span>
                <span></span>
              </ng-container>
            </div>
          </div>
          <div class="hashrate-active__item__value">
            <ng-container *ngIf="_reload"></ng-container>
            <span> </span>
            <ng-container *ngIf="_reload"></ng-container>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-12 col-lg-8">
      <div class="hashrate-chart">
        <div class="custom-taps custom-taps--chart">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-sm-3 mb-md-0"
            >
              Currency Mining Details
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-7"
            >
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap1'
                }"
              >
                <img
                  _ngcontent-lsl-c207=""
                  src="../../../assets/BTC-Crypto.svg"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 2%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap2'
                }"
              >
                <img
                  _ngcontent-lsl-c207=""
                  src="../../../assets/ETH-Crypto.svg"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 2%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap3'
                }"
              >
                <img
                  _ngcontent-lsl-c207=""
                  src="../../../assets/RVN-Crypto.svg"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 2%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap4'
                }"
              >
                <img
                  _ngcontent-lsl-c207=""
                  src="../../../assets/LTCT-Crypto.png"
                  alt=""
                  style="
                    vertical-align: middle;
                    background: white;
                    border-radius: 50%;
                    width: 27px;
                    padding: 2%;
                    margin-right: 7px;
                    height: 26px;
                  "
                />
                LTCT
              </div>
            </div>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap1'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap1Data"
              [options]="basicOptions"
              [responsive]="true"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap2'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap2Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap3'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap3Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap4'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap4Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!-- <div class="table">
    <p-table
      [value]="activePlanData"
      responsiveLayout="stack"
      [paginator]="true"
      [rows]="4"
      [rowsPerPageOptions]="[4, 8, 12]"
    >
      <ng-template pTemplate="caption">
        Active plans ({{ activePlanData.length }})
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="date">
            Booking Date
            <p-columnFilter
              type="date"
              field="date"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="id">
            Contract ID
            <p-columnFilter
              type="id"
              field="id"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="total">
            Total Mined
            <p-sortIcon field="total"></p-sortIcon>
          </th>
          <th pSortableColumn="hashPower">
            Current HashPower
            <p-sortIcon field="hashPower"></p-sortIcon>
          </th>

          <th pSortableColumn="expire">
            Expire on
            <p-columnFilter
              type="date"
              field="expire"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon [field]="'expire'"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plan>
        <tr>
          <td>
            <span class="p-column-title">Date</span
            >{{ plan.date | date: "dd MMM yyyy" }}
          </td>
          <td><span class="p-column-title">Name</span>{{ plan.name }}</td>
          <td><span class="p-column-title">Total</span>{{ plan.total }}</td>
          <td>
            <span class="p-column-title">hashPower</span
            >{{ plan.hashPower }} GH/S
          </td>

          <td>
            <span class="p-column-title">Expire</span
            >{{ plan.expire | date: "dd MMM yyyy" }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="table">
    <p-table
      [value]="expiredPlanData"
      responsiveLayout="stack"
      [paginator]="true"
      [rows]="4"
      [rowsPerPageOptions]="[4, 8, 12]"
    >
      <ng-template pTemplate="caption">
        Expired plans ({{ expiredPlanData.length }})
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th pSortableColumn="date">
            Booking Date
            <p-columnFilter
              type="date"
              field="date"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="date"></p-sortIcon>
          </th>
          <th pSortableColumn="id">
            Contract ID
            <p-columnFilter
              type="id"
              field="id"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="total">
            Total Mined
            <p-sortIcon field="total"></p-sortIcon>
          </th>
          <th pSortableColumn="hashPower">
            Current hashPower
            <p-sortIcon field="hashPower"></p-sortIcon>
          </th>
          <th pSortableColumn="expire">
            Expire on
            <p-columnFilter
              type="date"
              field="expire"
              display="menu"
            ></p-columnFilter>
            <p-sortIcon [field]="'expire'"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-plan>
        <tr>
          <td>
            <span class="p-column-title">Date</span
            >{{ plan.date | date: "dd MMM yyyy" }}
          </td>
          <td><span class="p-column-title">Name</span>{{ plan.name }}</td>
          <td><span class="p-column-title">Total</span>{{ plan.total }}</td>
          <td>
            <span class="p-column-title">hashPower</span
            >{{ plan.hashPower }} GH/S
          </td>

          <td>
            <span class="p-column-title">Expire</span
            >{{ plan.expire | date: "dd MMM yyyy" }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div> -->
</div>
