.total-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  background: #1d1a27;
  border: 1px solid #302c3f;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 360px;
  &__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-white-2;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
  &__value {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
  }
}
.balance-box {
  display: flex;
  flex-direction: column;
  background: rgba(29, 26, 39, 0.6);
  border-radius: 8px;
  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    padding: 25px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    padding: 26px 24px;

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      i {
        margin-right: 8px;
      }
    }
    &__value {
    }
    &:nth-of-type(even) {
      border-top: 1px solid rgba(48, 44, 63, 1);
      border-bottom: 1px solid rgba(48, 44, 63, 1);
    }
  }
}
.plan-box {
  background: #1d1a27;
  border: 1px solid #302c3f;
  border-radius: 8px;
  padding: 16px;
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }
  &__sub {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-white-2;
    margin-top: 16px;
    margin-bottom: 4px;
  }
  &__value {
    font-size: 32px;
    line-height: 40px;
  }
}
// .device-box {
// }
