.choose-miner {
  background: rgba(29, 26, 39, 0.6);
  border: 1px solid rgba(13, 23, 66, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  padding: 2.4rem 1.6rem;
  &__title {
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 4rem;
    text-align: center;
    padding-bottom: 2.4rem;
    box-shadow: inset 0px -1px 0px #302c3f;
  }
  &__img {
    display: block;
    width: 9rem;
    height: 7.5rem;
    margin: 1.8rem auto 4.1rem auto;
  }
}
