.overview-header {
  padding-top: $top-nav-height;
  h2 {
    font-size: 3.2rem;
  }
  p {
    font-size: 1.8rem;
  }
}
.balance-overview {
  margin-top: 3.2rem;
  margin-bottom: 4.2rem;
  &__title {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
  }
  &__boxes {
    &__box {
      max-width: 26.4rem;
      background-color: rgba(29, 26, 39, 0.6);
      border-radius: 8px;
      padding: 1.6rem;
      box-shadow: 0px 4px rgba(41, 61, 99, 0.1);
    }
  }
}
.mining-deatils {
  padding: 2.4rem;
  background: rgba(19, 17, 26, 0.3);
  border: 1px solid rgba(48, 44, 63, 1);
  border-radius: 12px;
  &__mined {
    .summery {
      padding-top: 2.4rem;
      display: flex;
      justify-content: center;
      &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__title {
          color: #b7b4c7;
          margin-bottom: 0.4rem;
          font-weight: 700;
          font-size: 1.6rem;
          line-height: 2rem;
          i {
            margin-right: 8px;
          }
        }
        &__value {
          font-weight: 700;
          font-size: 2rem;
          line-height: 2.5rem;
          i {
            margin-left: 8px;
          }
        }
      }
      i {
        color: $color-primary;
      }
    }
    .balance {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3.2rem 0rem 2.4rem 0rem;

      &__total {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.4rem;
        i {
          margin-right: 1.5rem;
        }
        span {
          font-weight: 400;
          font-size: 3.2rem;
          line-height: 4rem;
          letter-spacing: 0.02em;
        }
      }
      &__min {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #b7b4c7;
      }
    }
    button {
      margin: 0 auto;
      padding: 1.7rem 2.4rem;
    }
  }
  // &__chart {
  // }
}

.banner {
  border: 4px solid transparent;
  background: linear-gradient(
        133.31deg,
        rgba(29, 26, 39, 1) 26.84%,
        #302c3f 70.64%,
        rgba(44, 40, 58, 1) 110.02%
      )
      padding-box,
    linear-gradient(to right, $color-secondary, $color-primary) border-box;
  filter: drop-shadow(0px 0px 16px, $color-secondary);
  border-radius: 12px;
  color: #fff;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 42.2rem;
  // &__img {
  // }
  &__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
    letter-spacing: 0.02em;
    margin: 2.4rem 0 0.8rem 0;
    text-align: center;
    padding: 0 1rem;
  }
  &__sub {
    color: rgba(255, 73, 128, 1);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
  }
  button {
    margin: 2.4rem;
    padding: 1.4rem 2.3rem;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    i {
      color: #fff;
      margin-left: 5px;
    }
  }
}

// #details {
//   .mining-details {
//     .mined-details {
//       background: #1d1a27;
//       box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
//       border-radius: 12px;
//       button {
//         height: 54px;
//       }
//     }
//     .mined-chart {
//       background: #1d1a27;
//       box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
//       border-radius: 12px;
//     }
//   }

//   .gains-chart {
//     grid-area: gains;
//     background: #1d1a27;
//     box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
//     border-radius: 12px;
//     height: 416px;
//   }
// }
// .last-section {
//   .gains {
//     margin: 0px 32px 0px 43px;
//     background-color: #fff;
//     padding: 23px;
//     border: 1px solid rgba(13, 23, 66, 0.2);
//     border-radius: 8px;
//     color: #032f4a;
//   }
//   .banner {
//
//     width: 356px;
//     height: 416px;
//     color: #fff;
//     padding: 24px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     .fa-rocket {
//       font-size: 5rem;
//     }
//     p {
//       color: #f2994a;
//       font-size: 20px;
//       font-weight: bold;
//     }
//     button {
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       align-items: center;
//       padding: 10px 24px;
//       background: #ffffff;
//       border-radius: 8px;
//       width: 198px;
//       span {
//         font-weight: bold;
//         font-size: 16px;
//         line-height: 20px;
//         color: #154ed5;
//       }
//     }
//   }
// }

// //for large screen
// @media only screen and (min-width: 1206px) {
//   #details-header {
//     margin-bottom: -38px;
//   }
// }
// //for md and smaller screens
// @media only screen and (max-width: 768px) {
//   .btc-item-1,
//   .btc-item-2,
//   .btc-item-3 {
//     margin-bottom: 20px;
//   }
//   .details button {
//     width: 100%;
//   }
// }
