.profile {
  background: rgba(29, 26, 39, 0.6);
  border: 1px solid rgba(13, 23, 66, 0.1);
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2.4rem;
  margin: 1.6rem 0 2rem 0;
  &__user-icon {
    width: 5.6rem;
    height: 5.6rem;
    background: $color-background;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      font-size: 2.7rem;
    }
  }

  &__name {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    margin: 0 2.4rem 0 0.8rem;
  }
  &__edit {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
    text-decoration-line: underline;
    color: $color-primary;
    cursor: pointer;
    i {
      margin-right: 0.8rem;
    }
  }
  &__details {
    display: flex;
    justify-content: flex-start;
    gap: 3.7rem;
    margin-top: 5rem;
    line-height: 2rem;
    &__title {
      font-weight: 700;
      font-size: 1.6rem;
      margin-bottom: 0.4rem;
    }
    &__value {
      font-weight: 400;
      font-size: 1.6rem;
      color: $color-white-2;
    }
  }
}
