<header class="dash-heading">
  <h2 class="dash-heading__title">
    <i class="fas fa-angle-left" [routerLink]="['../choose-provider']"></i
    >Choose hashrate plan ([Brand name])
  </h2>
</header>
<div class="dashboard-container">
  <div class="contract">
    <div class="contract__period">
      <h3 class="contract__period__title">Select desired plan</h3>
      <p class="contract__period__sub">Contract period</p>
      <div class="contract__period__options">
        <button
          class="btn btn--disabled"
          (click)="onShortBTC(); short = true"
          [ngClass]="{ 'btn--darker--2': short }"
        >
          <span> Short Plans</span> <span class="offer"></span>
        </button>
        <button
          class="btn btn--disabled"
          (click)="onLongBTC(); short = false"
          [ngClass]="{ 'btn--darker--2': !short }"
        >
          <span>Long Plans</span> <span class="offer">30% off</span>
        </button>
      </div>
    </div>
    <div class="contract__currency">
      <h4 class="contract__currency__title">Choose Currency</h4>
      <div *ngIf="short" class="custom-taps custom-taps--trans">
        <div
          class="custom-taps__heading custom-taps__heading--trans row align-items-center justify-content-center"
        >
          <div
            class="custom-taps__heading__taps d-flex justify-content-center col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active ':
                  shortPlansOpend == 'tap1'
              }"
            >
              <img src="../../../assets/BTC-Crypto.svg" class="icon icon--xs" />
              BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap2'
              }"
            >
              <img
                src="../../../assets/ETH-Crypto.svg"
                class="icon icon--xs icon--bk"
              />
              ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap3'
              }"
            >
              <img
                src="../../../assets/RVN-Crypto.svg"
                class="icon icon--xs icon--bk"
              />
              RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap4'
              }"
            >
              <img
                src="../../../assets/LTCT-Crypto.png"
                class="icon icon--xs"
              />
              LTCT
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap1'">
          <div class="row g-4">
            <div
              class="col-12 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlansBTC"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Plan Duration</h6>
                  <p class="plan__box__sub-value">
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                    >
                      1 Year</span
                    >
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                    >
                      1 Month</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                      >{{ plan.planDuration }} months</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                      >{{ plan.planDuration }} years</span
                    >
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap2'">
          <div class="row g-4">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlansETH"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>

                <div class="plan__box">
                  <h6 class="plan__box__sub">planDuration</h6>
                  <p class="plan__box__sub-value">
                    {{ plan.planDuration }} Months
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap3'">
          <div class="row g-4">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlansRVN"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>

                <div class="plan__box">
                  <h6 class="plan__box__sub">planDuration</h6>
                  <p class="plan__box__sub-value">
                    {{ plan.planDuration }} Months
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap4'">
          <div class="row g-4">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlansLTCT"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>

                <div class="plan__box">
                  <h6 class="plan__box__sub">planDuration</h6>
                  <p class="plan__box__sub-value">
                    {{ plan.planDuration }} Months
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- the long plans start here -->
      <div *ngIf="!short" class="custom-taps custom-taps--trans">
        <div
          class="custom-taps__heading custom-taps__heading--trans row align-items-center justify-content-center"
        >
          <div
            class="custom-taps__heading__taps d-flex justify-content-center col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active ':
                  longPlansOpend == 'tap1'
              }"
            >
              <img src="../../../assets/BTC-Crypto.svg" class="icon icon--xs" />
              BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap2'
              }"
            >
              <img
                src="../../../assets/ETH-Crypto.svg"
                class="icon icon--xs icon--bk"
              />
              ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap3'
              }"
            >
              <img
                src="../../../assets/RVN-Crypto.svg"
                class="icon icon--xs icon--bk"
              />RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap4'
              }"
            >
              <img
                src="../../../assets/LTCT-Crypto.png"
                class="icon icon--xs"
              />
              LTCT
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap1'">
          <div class="row g-4">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of longPlansBTC"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>

                <div class="plan__box">
                  <h6 class="plan__box__sub">Plan Duration</h6>
                  <p class="plan__box__sub-value">
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                    >
                      1 Year</span
                    >
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                    >
                      1 Month</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                      >{{ plan.planDuration }} months</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                      >{{ plan.planDuration }} years</span
                    >
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap2'">
          <div class="row g-4">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of longPlansETH"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>

                <div class="plan__box">
                  <h6 class="plan__box__sub">Plan Duration</h6>
                  <p class="plan__box__sub-value">
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                    >
                      1 Year</span
                    >
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                    >
                      1 Month</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                      >{{ plan.planDuration }} months</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                      >{{ plan.planDuration }} years</span
                    >
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap3'">
          <div class="row g-4">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of longPlansRVN"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>

                <div class="plan__box">
                  <h6 class="plan__box__sub">Plan Duration</h6>
                  <p class="plan__box__sub-value">
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                    >
                      1 Year</span
                    >
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                    >
                      1 Month</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                      >{{ plan.planDuration }} months</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                      >{{ plan.planDuration }} years</span
                    >
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap4'">
          <div class="row g-4">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of longPlansLTCT"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.planName }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/rig2.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.cryptoName }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining algorithm</h6>
                  <p class="plan__box__sub-value">{{ plan.algorithm }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Plan Duration</h6>
                  <p class="plan__box__sub-value">
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                    >
                      1 Year</span
                    >
                    <span
                      *ngIf="
                        plan.planDuration == 1 &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                    >
                      1 Month</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'short' || plan.planType == 'Short')
                      "
                      >{{ plan.planDuration }} months</span
                    >
                    <span
                      *ngIf="
                        !(plan.planDuration == 1) &&
                        (plan.planType == 'long' || plan.planType == 'Long')
                      "
                      >{{ plan.planDuration }} years</span
                    >
                  </p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }} %</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>

                <button
                  (click)="addPlanContract(plan)"
                  class="btn btn--animated btn--light plan__btn"
                  *ngIf="plan.availability"
                >
                  Buy Device
                </button>
                <button
                  class="btn btn--disabled plan__btn"
                  style="cursor: not-allowed"
                  *ngIf="!plan.availability"
                >
                  Not Available Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="confirmation--overlay"
    *ngIf="buyFormOpend"
    (click)="buyFormOpend = false"
  ></div>
  <div
    class="confirmation"
    *ngIf="buyFormOpend"
    style="background: #2a2736; z-index: 999"
  >
    <div class="confirmation__heading">
      <div class="row">
        <div class="col-10">
          <h3 class="plan-form__title">Choose the currency balance</h3>
        </div>
        <div class="col-2">
          <div class="plan-form__close" (click)="buyFormOpend = false">
            <i class="fas fa-times"></i>
          </div>
        </div>
      </div>
    </div>
    <form
      class="confirmation__body choose-currency"
      (ngSubmit)="onSubmit()"
      [formGroup]="buyForm"
    >
      <div class="radio-container">
        <ul>
          <li>
            <input
              type="radio"
              id="btc"
              name="currency"
              value="btc"
              formControlName="currency"
            />
            <label for="btc">BTC</label>

            <div class="check"></div>
          </li>
          <li>
            <input
              type="radio"
              id="eth"
              name="currency"
              value="eth"
              formControlName="currency"
            />
            <label for="eth">ETH</label>

            <div class="check"><div class="inside"></div></div>
          </li>

          <li>
            <input
              type="radio"
              id="ltct"
              name="currency"
              value="ltct"
              formControlName="currency"
            />
            <label for="ltct">LTCT</label>

            <div class="check"><div class="inside"></div></div>
          </li>
          <li>
            <input
              type="radio"
              id="rvn"
              name="currency"
              value="rvn"
              formControlName="currency"
            />
            <label for="rvn"> RVN</label>

            <div class="check"><div class="inside"></div></div>
          </li>
        </ul>
      </div>

      <button type="submit" class="login-box__btn btn btn--light btn--animated">
        Buy Plan
      </button>
    </form>
  </div>
</div>
