<div class="dashboard-container dashboard-container--admin">
  <h2 class="dash-heading__title">Buying Requests</h2>
  <div class="horizontal-taps">
    <div class="horizontal-taps__heading">
      <span
        class="horizontal-taps__heading__item"
        (click)="selectedTap = 'tap1'"
        [ngClass]="{
          'horizontal-taps__heading__item--active': selectedTap == 'tap1'
        }"
        >New Requests</span
      >
      <span
        class="horizontal-taps__heading__item"
        (click)="selectedTap = 'tap2'"
        [ngClass]="{
          'horizontal-taps__heading__item--active': selectedTap == 'tap2'
        }"
        >Approved Requests</span
      >
    </div>

    <!------------------- Buying requests  ------------------>
    <div class="horizontal-taps__body" *ngIf="selectedTap == 'tap1'">
      <div class="horizontal-taps__body__title">
        New Requests ({{ newRequestsLength }})
      </div>
      <div class="table">
        <p-table
          [value]="newRequests"
          responsiveLayout="stack"
          [paginator]="true"
          [rows]="10"
          [rowsPerPageOptions]="[10, 15, 20]"
          sortField="createdAt"
          [sortOrder]="-1"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="createdAt">
                Request date
                <p-columnFilter
                  type="date"
                  field="createdAt"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="createdAt"></p-sortIcon>
              </th>
              <th pSortableColumn="userID">
                User info
                <p-columnFilter
                  type="text"
                  field="userID"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="userID"></p-sortIcon>
              </th>
              <th pSortableColumn="asicName">
                Requested device
                <p-sortIcon field="asicName"></p-sortIcon>
              </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-request>
            <tr>
              <td>
                <span class="p-column-title"> Request date </span>
                <span class="table__sub">{{ request.createdAt | date }}</span>
              </td>
              <td>
                <span class="p-column-title"> User ID</span>
                <span class="table__header"
                  >{{ request.userID }}
                  <i
                    class="fas fa-external-link-alt"
                    routerLink="../profile/{{ request.userID }}"
                  ></i
                ></span>
                <!-- <p>{{ request.info.email }}</p> -->
              </td>
              <td>
                <span class="p-column-title"> Requested device</span>
                <img
                  src="../../../assets/miner.svg"
                  alt=""
                  style="height: 64px"
                />

                <span class="table__header"> {{ request.asicName }}</span>
              </td>

              <td>
                <span class="p-column-title">Action</span>
                <!-- <button
                  class="btn btn--red btn--animated"
                  [routerLink]="['../profile']"
                >
                  Reject
                </button> -->
                <button
                  class="btn btn--darker btn--animated"
                  (click)="selectReqNew(request)"
                >
                  Accept request
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!------------------- Approved requests  ------------------>

    <div class="horizontal-taps__body" *ngIf="selectedTap == 'tap2'">
      <div class="horizontal-taps__body__title">
        Approved Requests ({{ approvedRequestsLength }})
      </div>
      <div class="table">
        <p-table
          [value]="approvedRequests"
          responsiveLayout="stack"
          [paginator]="true"
          [rows]="10"
          [rowsPerPageOptions]="[10, 15, 20]"
          sortField="createdAt"
          [sortOrder]="-1"
        >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pSortableColumn="createdAt">
                Request date
                <p-columnFilter
                  type="date"
                  field="createdAt"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="createdAt"></p-sortIcon>
              </th>
              <th pSortableColumn="userID">
                User ID
                <p-columnFilter
                  type="text"
                  field="userID"
                  display="menu"
                ></p-columnFilter>
              </th>

              <th pSortableColumn="asicName">
                Requested device
                <p-columnFilter
                  type="text"
                  field="asicName"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="asicName"></p-sortIcon>
              </th>
              <th pSortableColumn="workerID">
                Worker ID
                <p-columnFilter
                  type="text"
                  field="workerID"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="workerID"></p-sortIcon>
              </th>
              <th pSortableColumn="pool">
                Pool
                <p-columnFilter
                  type="text"
                  field="pool"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="pool"></p-sortIcon>
              </th>
              <th pSortableColumn="startDate">
                Aprroved date
                <p-columnFilter
                  type="date"
                  field="startDate"
                  display="menu"
                ></p-columnFilter>
                <p-sortIcon field="startDate"></p-sortIcon>
              </th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-request>
            <tr>
              <td>
                <span class="p-column-title"> Request date </span>
                <span class="table__sub">{{ request.createdAt | date }}</span>
              </td>
              <td>
                <span class="p-column-title"> User ID</span>
                <span class="table__header"
                  >{{ request.userID }}
                  <i
                    class="fas fa-external-link-alt"
                    routerLink="../profile/{{ request.userID }}"
                  ></i>
                </span>
              </td>
              <td>
                <span class="p-column-title"> Requested device</span>
                <img
                  src="../../../assets/miner.svg"
                  alt=""
                  style="height: 64px"
                />

                <span class="table__header">{{ request.asicName }}</span>
                <!-- <span>Maintenance plan: 12 months</span> -->
              </td>
              <td>
                <span class="p-column-title">Worker ID</span>
                <span class="table__header"> {{ request.workerID }}</span>
              </td>
              <td>
                <span class="p-column-title">Pool</span>
                <span class="table__header"> {{ request.pool }}</span>
              </td>
              <td>
                <span class="p-column-title">Approved Date</span>
                <div class="row align-items-center">
                  <div class="col-2">
                    <div class="notification__success">
                      <i class="fas fa-check"></i>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="table__header">Approved On</div>
                    <div class="table__sub">
                      {{ request.startDate | date }}
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <span class="p-column-title">Action</span>
                <button
                  class="btn btn--darker btn--animated"
                  (click)="selectReqApproved(request)"
                >
                  End Contact
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>

<!--------------- Accept form ------------------->
<div class="accept-form" *ngIf="acceptFormOpend">
  <div class="accept-form__heading">
    <div class="row">
      <div class="col-10">
        <h3 class="plan-form__title">Activate asic</h3>
      </div>
      <div class="col-2">
        <div class="plan-form__close" (click)="acceptFormOpend = false">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="accept-form__body">
    <form (ngSubmit)="onAcceptReq()" [formGroup]="acceptForm">
      <div class="input-field-group">
        <label class="input-field-group__label" for="address"
          >Deposit address</label
        >
        <input
          id="address"
          name="address"
          type="text"
          [readonly]="true"
          class="input-field-group__input"
          formControlName="address"
          [ngClass]="{
            'input-field-group__input--invalid':
              acceptForm.get('address')?.invalid
          }"
        />
        <div
          class="input-field-group__icon"
          style="cursor: pointer"
          (click)="copyText()"
        >
          <i class="far fa-copy"></i>
        </div>
      </div>
      <div class="input-field-group">
        <label class="input-field-group__label" for="workerID">Worker ID</label>
        <input
          class="input-field-group__input"
          id="workerID"
          name="workerID"
          type="text"
          formControlName="workerID"
          [ngClass]="{
            'input-field-group__input--invalid':
              acceptForm.get('workerID')?.invalid &&
              acceptForm.get('workerID')?.dirty
          }"
        />
      </div>
      <div class="input-field-group">
        <label class="input-field-group__label" for="pool">Pool</label>
        <input
          class="input-field-group__input"
          id="pool"
          name="pool"
          type="text"
          formControlName="pool"
          [ngClass]="{
            'input-field-group__input--invalid':
              acceptForm.get('pool')?.invalid && acceptForm.get('pool')?.dirty
          }"
        />
      </div>
      <div class="accept-form__body__footer">
        <div
          class="btn btn--darker btn--animated"
          (click)="acceptFormOpend = false"
        >
          Cancel
        </div>
        <button type="submit" class="btn btn--light btn--animated">
          Activate
        </button>
      </div>
    </form>
  </div>
</div>
<div class="confirmation confirmation--lighter" *ngIf="endConfirmOpend">
  <div class="confirmation__heading">
    <div class="row">
      <div class="col-10">
        <h3 class="plan-form__title">Confirm to continue</h3>
      </div>
      <div class="col-2">
        <div class="plan-form__close" (click)="endConfirmOpend = false">
          <i class="fas fa-times"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="confirmation__body">
    <div class="confirmation__body__warning">
      <i class="fas fa-exclamation-triangle"></i>
    </div>
    <div class="confirmation__body__title">
      Are you sure you want to end this contract!?
    </div>
    <!-- <div class="confirmation__body__sub">
      You will not be able to recover this plan details
    </div> -->
  </div>
  <div class="confirmation__footer">
    <div
      class="btn btn--darker btn--animated"
      (click)="endConfirmOpend = false"
    >
      Cancel
    </div>
    <div class="btn btn--light btn--animated" (click)="onEndContract()">
      Continue
    </div>
  </div>
</div>
