<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 mt-5 px-4 pb-4">
      <div class="message-icon">
        <mat-icon>mail_outline</mat-icon>
      </div>
      <h2>Confirm your email address</h2>
      <p class="body">
        We have sent an email with a confirmation link to
        <strong>email@example.com</strong>
        Please click the confirmation link to complete the sign-up process.
      </p>
      <p class="body">
        If you do not receive a confirmation email, please check your spam
        folder.
      </p>
      <button mat-stroked-button>Open your email</button>
      <p>Didn't receive the email? <strong>00:59</strong></p>
    </div>

    <div class="col-md-6 pb-5" style="background-color: #eef3fb">
      <app-slider></app-slider>
    </div>
  </div>
</div> -->
