// .message-icon {
//   display: inline-block;
//   background-color: #eef3fb;
//   border-radius: 50%;
//   height: 88px;
//   width: 88px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
// }
// mat-icon {
//   font-size: 50px;
//   width: 50px;
//   height: 50px;
//   display: inline-block;
//   color: rgba(13, 23, 66, 0.7);
// }

// h2 {
//   text-align: center;
//   color: rgba(3, 47, 74, 1);
//   margin: 24px auto 24px auto;
//   font-size: 32px;
// }
// p {
//   text-align: center;
//   strong {
//     color: #154ed5;
//     cursor: default;
//   }
// }
// p.body {
//   color: rgba(13, 23, 66, 0.7);
// }

// button {
//   border: 1px solid #154ed5 !important;
//   color: #154ed5;
//   font-size: 18px;
//   width: 100%;
//   padding: 17px 24px 17px 24px;
//   margin-top: 2.2rem;
//   margin-bottom: 2.2rem;
// }
