<div class="login-box">
  <h1 class="login-box__title">Admin Login</h1>
  <form (ngSubmit)="onSignin()" [formGroup]="signinForm" *ngIf="!sentOtp">
    <div class="input-field-group">
      <label class="input-field-group__label" for="passowrd">Password</label>
      <input
        class="input-field-group__input"
        placeholder="Enter your password"
        type="password"
        id="password"
        formControlName="password"
        [ngClass]="{
          'input-field-group__input--invalid':
            otpForm.get('password')?.invalid &&
            signinForm.get('password')?.dirty
        }"
        #input
      />
      <i
        class="fas fa-eye input-field-group__eye"
        (click)="changeInput(input)"
        *ngIf="!passwordShown"
      ></i>
      <i
        class="fas fa-eye-slash input-field-group__eye"
        (click)="changeInput(input)"
        *ngIf="passwordShown"
      ></i>
    </div>
    <button type="submit" class="login-box__btn btn btn--light btn--animated">
      Send OTP
    </button>
    <span class="login-box__error" *ngIf="signupError"
      >Password is incorrect, try again!</span
    >
  </form>

  <!-- otp -->
  <form (ngSubmit)="onOTP()" [formGroup]="otpForm" *ngIf="sentOtp">
    <div class="input-field-group">
      <label class="input-field-group__label" for="passowrd">Enter OTP</label>
      <input
        class="input-field-group__input"
        placeholder="Enter your otp"
        type="trxt"
        id="otp"
        formControlName="otp"
        [ngClass]="{
          'input-field-group__input--invalid':
            otpForm.get('otp')?.invalid && otpForm.get('otp')?.dirty
        }"
      />
    </div>
    <div style="margin-left: auto">
      Wait 30s or
      <a class="login-box__second-action" (click)="onSignin()">Send again! </a>
    </div>

    <button type="submit" class="login-box__btn btn btn--light btn--animated">
      Login
    </button>
    <span class="login-box__error" *ngIf="otpError">Wrong OTP, try again!</span>
  </form>
</div>
