// header {
//   background: rgba(19, 17, 26, 0.5);
//   box-shadow: inset 0px -1px 0px #302c3f;
//   min-width: 1192px;
//   display: flex;
//   flex-direction: row !important;
//   justify-content: flex-start !important;
//   align-items: center !important;
//   padding: 32px 30px;
//   box-shadow: -1px 0px 0px 0px rgba(48, 44, 63, 1) inset;
//   margin-top: -24px;
//   padding-top: 128px;
//   height: 227px;
//   i {
//     height: 40px;
//     width: 40px;
//     color: rgba(183, 180, 199, 1);
//     background-color: rgba(29, 26, 39, 1);
//     font-size: 35px;
//     padding: 8px;
//     border: 1px solid #302c3f;
//     border-radius: 8px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-right: 16px;
//     cursor: pointer;
//   }
//   h2 {
//     margin-bottom: 4px;
//     font-size: 2rem;
//   }
// }
