<div class="login-box" *ngIf="phase == 0">
  <h1 class="login-box__title login-box__title--left">
    <span>Forgot password? </span>
    <span>Reset password in two quick steps </span>
  </h1>
  <!-- adding the groupFrom -->
  <form (ngSubmit)="forgotPassword()" [formGroup]="forgotForm">
    <div class="input-field-group">
      <label class="input-field-group__label" for="email">Email</label>
      <input
        class="input-field-group__input"
        type="email"
        placeholder="Emails address"
        id="email"
        formControlName="email"
        [ngClass]="{
          'input-field-group__input--invalid':
            forgotForm.get('email')?.invalid && forgotForm.get('email')?.dirty
        }"
      />
      <span class="input-field-group__error" *ngIf=""> </span>
    </div>
    <button class="login-box__btn btn btn--light btn--animated" type="submit">
      Reset password
    </button>
    <span class="login-box__error" *ngIf="emailError">
      This email address doesn't exist</span
    >
  </form>
</div>
