<div class="login-box" *ngIf="phase == 0">
  <h1 class="login-box__title login-box__title--left">
    <span>Reset password</span>
    <span>Enter your account email to send you password recovery link</span>
  </h1>
  <!-- adding the groupFrom -->
  <form (ngSubmit)="resetPassword()" [formGroup]="restForm">
    <div class="input-field-group">
      <label class="input-field-group__label" for="email">Email</label>
      <input
        class="input-field-group__input"
        type="email"
        placeholder="Enter your email"
        id="email"
        formControlName="email"
      />
      <span class="input-field-group__error">
        >This email address wasn’t registered</span
      >
    </div>
    <button
      class="login-box__btn btn btn--light btn--animated"
      type="submit"
      (click)="(resetPassword)"
    >
      Next
    </button>
  </form>
</div>
<app-recovery-message
  *ngIf="phase == 1"
  (click)="phase = 2"
></app-recovery-message>
<app-new-password *ngIf="phase == 2"></app-new-password>
