<!-- <mat-tab-group mat-align-tabs="end">
  <mat-tab>
    <ng-template mat-tab-label> <i class="fab fa-btc sm"></i> BTC </ng-template>
    <div class="btc-details row g-0">
      <div class="col-12 col-md-4 btc-item-1">
        <i class="fas fa-rocket"></i>
        <span class="text-muted">Mining speed </span>
        <div>
          <h4>3,230 H/s</h4>
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="col-12 col-md-4 btc-item-2">
        <i class="fas fa-hammer"></i>
        <span class="text-muted">Today Mined </span>
        <h4>0.000000030 BTC</h4>
      </div>
      <div class="col-12 col-md-4 btc-item-3">
        <i class="fas fa-poo-storm"></i>
        <span class="text-muted">Running plans </span>
        <h4>2 active plans</h4>
      </div>
    </div>
    <div class="center">
      <i class="fab fa-btc lg"></i>
      <h2>0.000002130 BTC</h2>
    </div>
    <strong class="d-block text-muted text-center"
      >Min Withdraw: 0.0001 BTC</strong
    >
    <button mat-stroked-button color="primary">
      <i class="fab fa-btc sm"></i> <span> Withdraw </span>
    </button>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fab fa-ethereum sm"></i> ETH
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fab fa-btc sm"></i> <span>RVN</span>
    </ng-template>

    Content 3
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fab fa-ethereum sm"></i>LTCT
    </ng-template>

    Content 4
  </mat-tab>
</mat-tab-group> -->

<div class="tab-container">
  <div class="content">
    <div class="btc-details row g-0">
      <div class="col-12 col-md-4 btc-item-1">
        <i class="fas fa-rocket"></i>
        <span class="text-muted">Mining speed </span>
        <div>
          <h4>3,230 H/s</h4>
          <i class="fas fa-plus"></i>
        </div>
      </div>
      <div class="col-12 col-md-4 btc-item-2">
        <i class="fas fa-hammer"></i>
        <span class="text-muted">Today Mined </span>
        <h4>0.000000030 BTC</h4>
      </div>
      <div class="col-12 col-md-4 btc-item-3">
        <i class="fas fa-poo-storm"></i>
        <span class="text-muted">Running plans </span>
        <h4>2 active plans</h4>
      </div>
    </div>
    <div class="center">
      <i class="fab fa-btc lg"></i>
      <h2>0.000002130 BTC</h2>
    </div>
    <strong class="d-block text-muted text-center"
      >Min Withdraw: 0.0001 BTC</strong
    >
    <button mat-stroked-button color="primary">
      <i class="fab fa-btc sm"></i> <span> Withdraw </span>
    </button>
  </div>
</div>
