<app-spinner *ngIf="loading"></app-spinner>
<div class="parallelogram" id="one"></div>
<div class="parallelogram" id="two"></div>
<div class="parallelogram" id="three"></div>
<div class="parallelogram" id="four"></div>
<div class="parallelogram" id="five"></div>
<div class="parallelogram" id="six"></div>

<div
  class="container mt-4"
  id="container"
  [ngClass]="{ 'right-panel-active': statusValue }"
>
  <div class="form-container sign-up-container">
    <form (ngSubmit)="onSignup()" [formGroup]="signupForm">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input
        type="text"
        placeholder="Name"
        name="name"
        id="name"
        formControlName="name"
      />
      <input
        type="email"
        placeholder="Email"
        name="email"
        formControlName="email"
      />
      <input
        type="text"
        placeholder="Phone"
        name="phone"
        id="phone"
        formControlName="phone"
      />
      <input
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
      />
      <button class="animatedBtn" [disabled]="signupForm.invalid">
        Sign Up
      </button>
      <!-- <label
        for="name"
        style="color: red; text-align: left"
        *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.dirty"
        >*invalid name</label
      > -->
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form (ngSubmit)="onSignin()" [formGroup]="signinForm">
      <h1>Sign in</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your account</span>
      <input
        type="email"
        placeholder="Email"
        name="email"
        formControlName="email"
      />
      <input
        type="password"
        placeholder="Password"
        name="password"
        formControlName="password"
      />
      <a href="#">Forgot your password?</a>
      <button class="animatedBtn" [disabled]="signinForm.invalid">
        Sign In
      </button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="changeToSignin()">
          Sign In
        </button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
        <button class="ghost" id="signUp" (click)="changeToSignup()">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
