<!-- <div class="home">
  <div class="home__navbar">
    <ul class="row g-5 justify-content-between">
      <div class="col-12 col-lg-3">
        <li
          routerLink="admin/dashboard/overview"
          class="btn btn--light btn--animated"
        >
          <a>Admin Dashboard</a>
        </li>
      </div>
      <div class="col-12 col-lg-3">
        <li
          routerLink="user/dashboard/overview"
          class="btn btn--light btn--animated"
        >
          <a>User Dashboard</a>
        </li>
      </div>
      <div class="col-12 col-lg-3">
        <li routerLink="user/signup" class="btn btn--light btn--animated">
          <a>User Sign up</a>
        </li>
      </div>
      <div class="col-12 col-lg-3">
        <li routerLink="user/signin" class="btn btn--light btn--animated">
          <a>User Sign in</a>
        </li>
      </div>
    </ul>
  </div>
</div> -->
<!-- start landing -->
<div class="body">
  <div class="landing-ay">
    <div class="container-ay">
      <div class="logo-ay" routerLink="/"><p>LOGO</p></div>
      <div class="nav-ay">
        <a routerLink="/dashboard/overview">Plans</a>
        <a href="http://" target=""
          ><i class="fas fa-download"></i> Download App</a
        >
        <a id="dash-ay" routerLink="user/signin">Login</a>
        <button routerLink="user/signup">Join Now</button>
      </div>
      <div class="header-ay">
        <p>
          The Best
          <span>Bitcoin</span>
          Cloud Mining Platform
        </p>
      </div>
      <div class="content-ay">
        <p>
          GMINERS is an online and mobile crypto mining platform that brings you
          the most efficient tools to earn cryptocurrency with a small
          investment.
        </p>
      </div>
      <div class="bottom-ay">
        <button routerLink="user/signup">Start Your Journey Now</button>
        <div class="learn-ay">
          <a href="#how-ay"
            ><span><i class="fas fa-arrow-down"></i></span> Learn more</a
          >
        </div>
      </div>
      <div class="image-ay">
        <div class="home-ay"><img src="../../assets/home.png" alt="" /></div>
      </div>
    </div>
  </div>
  <!-- end landing -->
  <br />
  <!-- start how -->
  <div id="how-ay" class="how-ay">
    <div class="container-ay">
      <div class="heading-ay"><p>How It Works</p></div>
      <div class="footing-ay">
        <div class="box-ay">
          <div class="icon-ay">
            <span><i class="fas fa-arrow-down"></i></span>
          </div>
          <p class="top-ay">Create an account</p>
          <p class="bottom-ay">Sign up to start making cryptocurrency</p>
        </div>
        <div class="box-ay">
          <div class="icon-ay">
            <span><i class="fas fa-arrow-down"></i></span>
          </div>
          <p class="top-ay">Create an account</p>
          <p class="bottom-ay">Sign up to start making cryptocurrency</p>
        </div>
        <div class="box-ay">
          <div class="icon-ay">
            <span><i class="fas fa-arrow-down"></i></span>
          </div>
          <p class="top-ay">Create an account</p>
          <p class="bottom-ay">Sign up to start making cryptocurrency</p>
        </div>
        <div class="box-ay">
          <div class="icon-ay">
            <span><i class="fas fa-arrow-down"></i></span>
          </div>
          <p class="top-ay">Create an account</p>
          <p class="bottom-ay">Sign up to start making cryptocurrency</p>
        </div>
      </div>
    </div>
  </div>
  <!-- end how -->

  <!-- start why -->
  <div class="why-ay">
    <div class="container-ay">
      <div class="heading-ay"><p>Why Cloud Mining</p></div>
      <div class="footing-ay">
        <div class="left-ay">
          <div class="top-ay">
            <p>
              Kogi ennui ugh VHS celiac stumptown shabby chic seitan knausgaard
              vinyl pop-up. Mlkshk glossier tote bag kale chips helvetica. Umami
              hella tilde
            </p>
          </div>
          <div class="bottom-ay">
            <div class="flex-ay">
              <span><i class="fas fa-check"></i></span>
              <p>Flexitarian beard chambray, offal sustainable four loko.</p>
            </div>
            <div class="flex-ay">
              <span><i class="fas fa-check"></i></span>
              <p>
                Dreamcatcher retro brooklyn locavore waistcoat cronut. Put a
                bird on
              </p>
            </div>
            <div class="flex-ay">
              <span><i class="fas fa-check"></i></span>
              <p>Flexitarian beard chambray, offal sustainable four loko.</p>
            </div>
          </div>
        </div>
        <div class="right-ay">
          <img class="parent-ay" src="../../assets/miner.svg" alt="" />
          <img class="child-ay" src="../../assets/miner.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- end why -->

  <!-- start boost -->
  <div class="boost-ay">
    <div class="container-ay">
      <div class="left-ay">
        <p class="header-ay">Boost Your Hashrate With Private Mining Devices</p>
        <p class="bottom-ay">You buy, We operate — Join to learn more.</p>
        <div class="image-ay">
          <img class="parent-ay" src="../../assets/miner.svg" alt="" />
          <img class="child-ay" src="../../assets/miner.svg" alt="" />
        </div>
        <button routerLink="user/signup">Join Now</button>
      </div>
      <div class="right-ay">
        <img src="../../assets/miner.svg" alt="" />
        <img class="child-ay" src="../../assets/miner.svg" alt="" />
      </div>
    </div>
  </div>
  <!-- end boost -->

  <!-- start calc-ay -->
  <div class="calc-ay">
    <div class="container-ay">
      <div class="customers-ay">
        <p class="num-ay">100</p>
        <p class="content-ay">Customers</p>
      </div>
      <div class="total-devices-ay">
        <p class="num-ay">200</p>
        <p class="content-ay">Total Mining Devices Bought</p>
      </div>
      <div class="total-deposits-ay">
        <p class="num-ay">$20,000</p>
        <p class="content-ay">Total Deposits</p>
      </div>
      <div class="total-withdrawals-ay">
        <p class="num-ay">$30,000</p>
        <p class="content-ay">Total Withdrawals</p>
      </div>
    </div>
  </div>
  <!-- end calc-ay -->

  <!-- start faq-ay -->
  <div class="faq-ay">
    <div class="container-ay">
      <div class="heading-ay">
        <p>Frequently Asked Questions</p>
        <p class="content-ay">Find answers to frequently asked questions</p>
      </div>
      <div class="box-ay">
        <div class="q-ay">
          <p>How can I start mining?</p>
          <span></span>
        </div>
        <div class="a-ay">
          <p>
            All you need to start cryptocurrency mining on [brand name] is to
            register, get verified, and purchase your contract. Just rent a
            miner and make an easy passive income every day.
          </p>
        </div>
        <div class="q-ay">
          <p>What is cryptocurrency?</p>
          <span class="not-active-ay"></span>
        </div>
        <div class="q-ay">
          <p>What is GH/s?</p>
          <span class="not-active-ay"></span>
        </div>
        <div class="q-ay">
          <p>Is it legal?</p>
          <span class="not-active-ay"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end faq-ay -->
