body {
  font-family: CircularStd, "Helvetica Neue", sans-serif;
  font-size: 1.6rem;
  color: #fff;
}
// @font-face {
//   font-family: CircularStd;
//   src: url("../../assets/CircularStd-Black.woff");
//   font-weight: normal;
//   font-style: normal;
// }
@font-face {
  font-family: CircularStd;
  src: url("../../assets/CircularStd-Bold.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  src: url("../../assets/CircularStd-Book.woff");
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: CircularStd;
//   src: url("../../assets/CircularStd-Book.woff");
//   font-weight: 600;
//   font-style: normal;
// }
.logo {
  font-family: "CircularStd";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #ffffff;
  cursor: pointer;
}
